In [13]:
import pandas
from sqlalchemy import create_engine
import psycopg2
from urllib.parse import quote

In [14]:
POSTGRES_ADDRESS = '3.111.186.156' ## INSERT YOUR DB ADDRESS IF IT'S NOT ON PANOPLY
POSTGRES_PORT = '5432'
POSTGRES_USERNAME = 'yogauser' ## CHANGE THIS TO YOUR PANOPLY/POSTGRES USERNAME
POSTGRES_PASSWORD = '********' ## CHANGE THIS TO YOUR PANOPLY/POSTGRES PASSWORD
POSTGRES_DBNAME = 'yogadb' ## CHANGE THIS TO YOUR DATABASE NAME
# A long string that contains the necessary Postgres login information
engine = create_engine('postgresql://yogauser:%s@3.111.186.156:5432/yogadb' % quote(POSTGRES_PASSWORD))

In [15]:
engine

Engine(postgresql://yogauser:***@3.111.186.156:5432/yogadb)

In [23]:
df = pandas.read_sql_query('SELECT * FROM sensor WHERE data>13', con = engine)

In [24]:
df

       data     time
0        77  7209410
1       132  7209415
2       160  7209418
3       186  7209421
4       138  7209424
...     ...      ...
13592    14  7337675
13593    14  7337696
13594    14  7337738
13595    14  7337786
13596    14  7337793

[13597 rows x 2 columns]